@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
*
{
    box-sizing: border-box;
    margin :0;
    padding: 0;
}
div.top
{
    width: 100%;
    height: auto;
    padding: 20px 152px;
    div.top-part-one
    {
        display: flex;
        justify-content: space-between;
        h3
        {
            display: flex;
            align-items: center;
            gap: 10px;
            div.text 
            {
                font-family:"Plus Jakarta Sans", sans-serif;
                font-weight: 700;
                font-size: 18px;
                color: rgba(79, 57, 246, 1);
            }
        }
        div.links
        {
            padding: 10px 0;
            a
            {
                font-weight: 600;
                font-family:"Plus Jakarta Sans", sans-serif;
                font-size: 14px;
                color:rgba(79, 57, 246, 1);
                padding-right: 20px;
                text-decoration: none;
            }
        }
        button
        {
            font-weight: 600;
            font-family:"Plus Jakarta Sans", sans-serif;
            font-size: 14px;
            color:rgba(255, 255, 255, 1);
            background-color: rgba(79, 57, 246, 1);
            border: 1px solid rgba(79, 57, 246, 1);
            border-radius: 10px;
            padding: 10px 20px;
        }
        div.media-top-one
        {
            display: none;
        }
    }
    div.top-part-two
    {
        padding-top: 50px;
        display: flex;
        gap: 20px;
        div.detail
        {
            > span
            {
                font-weight: 700;
                font-family:"Plus Jakarta Sans", sans-serif;
                font-size: 12px;
                color:rgba(79, 57, 246, 1);
                background-color: rgba(238, 242, 255, 1);
                border-radius: 10px;
                border: 1px solid rgba(224, 231, 255, 1);
                padding:5px 10px ;
            }
            h2
            {
                font-weight: 800;
                font-family:"Plus Jakarta Sans", sans-serif;
                font-size: 52px;
                color:rgba(15, 23, 43, 1);
                letter-spacing: -1.3px;
                padding: 15px 0 ;
            }
            p
            {
                font-weight: 400;
                font-family:"Plus Jakarta Sans", sans-serif;
                font-size: 18px;
                color:rgba(98, 116, 142, 1);
            }
            div.button
            {
                padding: 20px 0;
                display: flex;
                justify-content: flex-start;
                gap: 30px;
                div.first-button
                {
                    button
                    {
                        font-weight: 600;
                        font-family:"Plus Jakarta Sans", sans-serif;
                        font-size: 16px;
                        color:rgba(255, 255, 255, 1);
                        Background-color: rgba(79, 57, 246, 1);
                        border: 1px solid rgba(79, 57, 246, 1);
                        border-radius: 10px;
                        padding: 10px 20px;
                    }
                }
                div.second-button
                {
                    button
                    {
                        font-weight: 600;
                        font-family:"Plus Jakarta Sans", sans-serif;
                        font-size: 16px;
                        color:rgba(79, 57, 246, 1);
                        Background-color: rgba(255, 255, 255, 1);
                        border: 1px solid rgba(198, 210, 255, 1);
                        border-radius: 10px;
                        padding: 10px 20px;
                    }
                }
            }
            div.top-infor
            {
                display: flex;
                gap: 65px;
                padding-bottom:8px ;
                span
                {
                    font-weight: 800;
                    font-family:"Plus Jakarta Sans", sans-serif;
                    font-size: 24px;
                    color:rgba(15, 23, 43, 1);
                }
            }
            div.bottom-infor
            {
                display: flex;
                gap:10px;
                span
                {
                    font-weight: 400;
                    font-family:"Plus Jakarta Sans", sans-serif;
                    font-size: 12px;
                    color: rgba(98, 116, 142, 1);
                }
            }
        }
    }
    div.top-part-three
    {
        padding-top: 70px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        h4
        {
            font-weight: 600;
            font-family:"Plus Jakarta Sans", sans-serif;
            font-size: 14px;
            color:rgba(144, 161, 185, 1);
        }
        div.de-tails
        {
            display: flex;
            flex-direction: row;
            gap: 10px;
            padding-top:20px;
            div.first-line
            {
                display: flex;
                flex-direction: row;
                gap: 10px;
                div.first
                {
                    span
                    {
                        font-weight: 600;
                        font-family:"Plus Jakarta Sans", sans-serif;
                        font-size: 14px;
                        color:rgba(127, 34, 254, 1);
                        background-color:rgba(245, 243, 255, 1);
                        border: 1px solid rgba(237, 233, 254, 1);
                        border-radius: 10px;
                        padding: 10px 20px;
                        display: flex;
                        gap: 5px;
                    }
                }
                div.second
                {
                    span
                    {
                        font-weight: 600;
                        font-family:"Plus Jakarta Sans", sans-serif;
                        font-size: 14px;
                        color:rgba(0, 132, 209, 1);
                        background-color:rgba(240, 249, 255, 1);
                        border: 1px solid rgba(223, 242, 254, 1);
                        border-radius: 10px;
                        padding: 10px 20px;
                        display: flex;
                        gap: 5px;
                    }
                }
            }
            div.second-line
            {
                display: flex;
                flex-direction: row;
                gap: 10px;
                div.third
                {
                    span
                    {
                        font-weight: 600;
                        font-family:"Plus Jakarta Sans", sans-serif;
                        font-size: 14px;
                        color:rgba(245, 73, 0, 1);
                        background-color:rgba(255, 247, 237, 1);
                        border: 1px solid rgba(255, 237, 212, 1);
                        border-radius: 10px;
                        padding: 10px 20px;
                        display: flex;
                        gap: 5px;
                    }
                }
                div.four
                {
                    span
                    {
                        font-weight: 600;
                        font-family:"Plus Jakarta Sans", sans-serif;
                        font-size: 14px;
                        color:rgba(0, 153, 102, 1);
                        background-color:rgba(236, 253, 245, 1);
                        border: 1px solid rgba(208, 250, 229, 1);
                        border-radius: 10px;
                        padding: 10px 20px;
                        display: flex;
                        gap: 5px;
                    }
                }
            }
            div.five
            {
                >span
                {
                    font-weight: 600;
                    font-family:"Plus Jakarta Sans", sans-serif;
                    font-size: 14px;
                    color:rgba(79, 57, 246, 1);
                    background-color:rgba(238, 242, 255, 1);
                    border: 1px solid rgba(224, 231, 255, 1);
                    border-radius: 10px;
                    padding: 10px 20px;
                    display: flex;
                    gap: 5px;
                }
            }
        }
    }
}
div.center
{
    height: auto;
    width: 100%;
    div.center-part-one
    {
        height: auto;
        padding: 80px 152px 0;
        h2
        {
            padding-bottom: 12px;
            font-weight: 700;
            font-family:"Plus Jakarta Sans", sans-serif;
            font-size: 38px;
            color:rgba(15, 23, 43, 1);
        }
        div.bar
        {
            display: flex;
            justify-content: space-between;
            padding-bottom: 40px;
            p
            {
                font-weight: 400;
                font-family:"Plus Jakarta Sans", sans-serif;
                font-size: 16px;
                color:rgba(98, 116, 142, 1);
            }
            button
            {
                font-weight: 600;
                font-family:"Plus Jakarta Sans", sans-serif;
                font-size: 14px;
                color:rgba(79, 57, 246, 1);
                background-color: rgba(255, 255, 255, 1);
                border: 1px solid rgba(198, 210, 255, 1);
                padding: 10px 20px;
            }
        }
        div.jobs
        {
            display: flex;
            gap: 20px;
            div.job-one
            {
                div.image img
                {
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                }
                border-radius: 3px;
                border: 1px solid rgba(226, 232, 240, 1);
                width:calc((100% - 68px)/3);
                div.info-job
                {
                    padding-left: 20px;
                    div.first-info
                    {
                        display: flex;
                        gap: 10px;
                        padding:15px 0 ;
                        div.first
                        {
                            > span
                            {
                                font-weight: 600;
                                font-family:"Plus Jakarta Sans", sans-serif;
                                font-size: 12px;
                                color:rgba(0, 105, 168, 1);
                                background-color: rgba(223, 242, 254, 1);
                                border-radius: 10px;
                                padding: 2px 4px;
                            }
                        }
                        div.second
                        {
                            > span
                            {
                                font-weight: 600;
                                font-family:"Plus Jakarta Sans", sans-serif;
                                font-size: 12px;
                                color:rgba(0, 130, 54, 1);
                                background-color: rgba(220, 252, 231, 1);
                                border-radius: 10px;
                                padding: 2px 4px;
                            }
                        }
                    }
                    h3
                    {
                        font-weight: 700;
                        font-family:"Plus Jakarta Sans", sans-serif;
                        font-size: 16px;
                        color:rgba(15, 23, 43, 1);
                    }
                    p
                    {
                        font-weight: 400;
                        font-family:"Plus Jakarta Sans", sans-serif;
                        font-size: 14px;
                        color:rgba(98, 116, 142, 1);
                        padding: 10px 0;
                    }
                    div.de-tai-ls
                    {
                        display: flex;
                        gap: 15px;
                        > span
                        {
                            font-weight: 400;
                            font-family:"Plus Jakarta Sans", sans-serif;
                            font-size: 12px;
                            color:rgba(144, 161, 185, 1);
                            display: flex;
                            align-items: center;
                        }
                    }
                    div.in-fo
                    {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        > span
                        {
                            display: flex;
                            align-items: center;
                            font-weight: 500;
                            font-family:"Plus Jakarta Sans", sans-serif;
                            font-size: 12px;
                            color:rgba(69, 85, 108, 1);
                            padding: 10px 0;
                        }
                        div.buy
                        {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            padding-right: 10px;
                            > span
                            {
                                font-weight: 700;
                                font-family:"Plus Jakarta Sans", sans-serif;
                                font-size: 16px;
                                color:rgba(15, 23, 43, 1);
                            }
                            > button
                            {
                                font-weight: 600;
                                font-family:"Plus Jakarta Sans", sans-serif;
                                font-size: 12px;
                                color:rgba(255, 255, 255, 1);
                                background-color: rgba(79, 57, 246, 1);
                                border-color: rgba(79, 57, 246, 1);
                                padding: 5px 10px;
                                border-radius: 10px;
                            }
                        }
                    }
                }
            }
            div.job-two
            {
                border-radius: 3px;
                border: 1px solid rgba(226, 232, 240, 1);
                width:calc((100% - 68px)/3);
                div.image img
                {
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                }
                div.info-job
                {
                    padding-left: 20px;
                    div.first-info
                    {
                        display: flex;
                        gap: 10px;
                        padding:15px 0 ;
                    }
                    div.first
                    {
                        >span
                        {
                            font-weight: 600;
                            font-family:"Plus Jakarta Sans", sans-serif;
                            font-size: 12px;
                            color:rgba(0, 105, 168, 1);
                            background-color: rgba(223, 242, 254, 1);
                            border-radius: 10px;
                            padding: 2px 4px;
                        }
                    }
                    div.second
                    {
                        >span
                        {
                            font-weight: 600;
                            font-family:"Plus Jakarta Sans", sans-serif;
                            font-size: 12px;
                            color:rgba(187, 77, 0, 1);
                            background-color: rgba(254, 243, 198, 1);
                            border-radius: 10px;
                            padding: 2px 4px;
                        }
                    }
                    h3
                    {
                        font-weight: 700;
                        font-family:"Plus Jakarta Sans", sans-serif;
                        font-size: 16px;
                        color:rgba(15, 23, 43, 1);
                    }
                    p
                    {
                        font-weight: 400;
                        font-family:"Plus Jakarta Sans", sans-serif;
                        font-size: 14px;
                        color:rgba(98, 116, 142, 1);
                        padding: 10px 0;
                    }
                    div.de-tai-ls
                    {
                        display: flex;
                        gap: 15px;
                        >span
                        {
                            font-weight: 400;
                            font-family:"Plus Jakarta Sans", sans-serif;
                            font-size: 12px;
                            color:rgba(144, 161, 185, 1);
                            display: flex;
                            align-items: center;
                        }
                    }
                    div.in-fo
                    {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        span
                        {
                            font-weight: 500;
                            font-family:"Plus Jakarta Sans", sans-serif;
                            font-size: 12px;
                            color:rgba(69, 85, 108, 1);
                            display: flex;
                            align-items: center;
                            padding: 10px 0;
                        }
                        div.buy
                        {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            padding-right: 10px;
                            span
                            {
                                font-weight: 700;
                                font-family:"Plus Jakarta Sans", sans-serif;
                                font-size: 16px;
                                color:rgba(15, 23, 43, 1);
                            }
                            button
                            {
                                font-weight: 600;
                                font-family:"Plus Jakarta Sans", sans-serif;
                                font-size: 12px;
                                color:rgba(255, 255, 255, 1);
                                background-color: rgba(79, 57, 246, 1);
                                border-color: rgba(79, 57, 246, 1);
                                padding: 5px 10px;
                                border-radius: 10px;
                            }
                        }
                    }
                }
            }
            div.job-three
            {
                border-radius: 3px;
                border: 1px solid rgba(226, 232, 240, 1);
                width:calc((100% - 68px)/3);
                div.image img
                {
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                }
                div.info-job
                {
                    padding-left: 20px;
                    div.first-info
                    {
                        display: flex;
                        gap: 10px;
                        padding:15px 0 ;
                    }
                    div.first
                    {
                        >span
                        {
                            font-weight: 600;
                            font-family:"Plus Jakarta Sans", sans-serif;
                            font-size: 12px;
                            color:rgba(112, 8, 231, 1);
                            background-color: rgba(237, 233, 254, 1);
                            border-radius: 10px;
                            padding: 2px 4px;
                        }
                    }
                    div.second
                    {
                        >span
                        {
                            font-weight: 600;
                            font-family:"Plus Jakarta Sans", sans-serif;
                            font-size: 12px;
                            color:rgba(0, 130, 54, 1);
                            background-color: rgba(220, 252, 231, 1);
                            border-radius: 10px;
                            padding: 2px 4px;
                        }
                    }
                    h3
                    {
                        font-weight: 700;
                        font-family:"Plus Jakarta Sans", sans-serif;
                        font-size: 16px;
                        color:rgba(15, 23, 43, 1);
                    }
                    p
                    {
                        font-weight: 400;
                        font-family:"Plus Jakarta Sans", sans-serif;
                        font-size: 14px;
                        color:rgba(98, 116, 142, 1);
                        padding: 10px 0;
                    }
                    div.de-tai-ls
                    {
                        display: flex;
                        gap: 15px;
                        span
                        {
                            font-weight: 400;
                            font-family:"Plus Jakarta Sans", sans-serif;
                            font-size: 12px;
                            color:rgba(144, 161, 185, 1);
                            display: flex;
                            align-items: center;
                        }
                    }
                    div.in-fo
                    {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        span
                        {
                            font-weight: 500;
                            font-family:"Plus Jakarta Sans", sans-serif;
                            font-size: 12px;
                            color:rgba(69, 85, 108, 1);
                            display: flex;
                            align-items: center;
                            padding: 10px 0;
                        }
                        div.buy
                        {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            padding-right: 10px;
                            span
                            {
                                font-weight: 700;
                                font-family:"Plus Jakarta Sans", sans-serif;
                                font-size: 16px;
                                color:rgba(15, 23, 43, 1);
                            }
                            button
                            {
                                font-weight: 600;
                                font-family:"Plus Jakarta Sans", sans-serif;
                                font-size: 12px;
                                color:rgba(255, 255, 255, 1);
                                background-color: rgba(79, 57, 246, 1);
                                border-color: rgba(79, 57, 246, 1);
                                padding: 5px 10px;
                                border-radius: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    div.center-part-two
    {
        height: auto;
        width: 100%;
        padding-top: 50px;
        div.t-op
        {
            h2
            {
                display: flex;
                justify-content: center;
                font-weight: 700;
                font-family:"Plus Jakarta Sans", sans-serif;
                font-size: 38px;
                color:rgba(15, 23, 43, 1);
            }
            p
            {
                display: flex;
                justify-content: center;
                font-weight: 400;
                font-family:"Plus Jakarta Sans", sans-serif;
                font-size: 16px;
                color:rgba(98, 116, 142, 1);
                padding: 15px 0 30px 0;
            }
        }
        div.bo-dy
        {
            width: 100%;
            height: auto;
            padding: 0 152px 80px;
            display: flex;
            gap: 20px;
            div.reasons
            {
                width: calc(100% - 124px);
                border: 1px solid rgba(226, 232, 240, 1);
                padding:20px 24px 30px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                >img
                {
                    background-color: rgba(238, 242, 255, 1);
                }
                h3
                {
                    display: flex;
                    justify-content: center;
                    font-weight: 700;
                    font-family:"Plus Jakarta Sans", sans-serif;
                    font-size: 18px;
                    color:rgba(15, 23, 43, 1);
                    padding: 16px 0 10px;
                }
                p
                {
                    display: flex;
                    justify-content: center;
                    font-weight: 400;
                    font-family:"Plus Jakarta Sans", sans-serif;
                    font-size: 14px;
                    color:rgba(98, 116, 142, 1);
                    text-align: center;
                }
            }
        }
    }
    div.center-part-three
    {
        height: auto;
        padding: 80px 152px ;
        div.tit-le
        {
            padding-bottom: 40px;
            display: flex;
            justify-content: space-between;
            h2
            {
                font-weight: 700;
                font-family:"Plus Jakarta Sans", sans-serif;
                font-size: 38px;
                color:rgba(15, 23, 43, 1);
            }
            button
            {
                padding: 10px 20px;
                border-radius: 10px;
                font-weight: 600;
                font-family:"Plus Jakarta Sans", sans-serif;
                font-size: 14px;
                color:rgba(79, 57, 246, 1);
                background-color: rgba(255, 255, 255, 1);
                border: 1px solid rgba(198, 210, 255, 1);
            }
        }
        div.profiles
        {
            height: auto;
            display: flex;
            flex-direction: row;
            gap: 20px;
            div.profile
            {
                border: 1px solid rgba(226, 232, 240, 1);
                div.to-p
                {
                    height:auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding-bottom: 20px;
                    background-color: rgba(238, 242, 255, 1);
                    >img
                    {
                        padding-top: 20px;
                        width: 100px;
                        height: 120px;
                        object-fit: cover;
                    }
                    h3
                    {
                        padding: 10px 0;
                        font-weight: 700;
                        font-family:"Plus Jakarta Sans", sans-serif;
                        font-size: 16px;
                        color:rgba(15, 23, 43, 1);
                    }
                    h4
                    {
                        font-weight: 600;
                        font-family:"Plus Jakarta Sans", sans-serif;
                        font-size: 14px;
                        color:rgba(79, 57, 246, 1);
                    }
                }
                div.bot-tom
                {
                    display: flex; 
                    flex-direction: column;
                    padding: 0 20px;
                    p
                    {
                        font-weight: 400;
                        font-family:"Plus Jakarta Sans", sans-serif;
                        font-size: 14px;
                        color:rgba(98, 116, 142, 1);
                        padding: 15px 0px;
                    }
                    div.skills
                    {
                        display: flex;
                        gap: 5px;
                        >span
                        {
                            font-weight: 500;
                            font-family:"Plus Jakarta Sans", sans-serif;
                            font-size: 12px;
                            color:rgba(69, 85, 108, 1);
                            border: 1px solid rgba(226, 232, 240, 1);
                            background-color: rgba(226, 232, 240, 1);
                            border-radius: 10px;
                            padding: 5px 10px;
                        }
                    }
                    div.deta-ils
                    {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        align-items: center;
                        padding: 10px 0;
                        >span
                        {
                            font-weight: 400;
                            font-family:"Plus Jakarta Sans", sans-serif;
                            font-size: 12px;
                            color:rgba(144, 161, 185, 1);
                        }
                    }
                    div.cen
                    {
                        display: flex;
                        justify-content: center;
                        padding-bottom: 20px;
                        button
                        {
                            width: 100%;
                            border-radius: 10px;
                            border: 1px solid rgba(198, 210, 255, 1);
                            font-weight: 600;
                            font-family:"Plus Jakarta Sans", sans-serif;
                            font-size: 14px;
                            color:rgba(79, 57, 246, 1);
                            background-color: rgba(255, 255, 255, 1);
                            padding: 15px 120px;
                        }
                    }
                }
            }
        }
    }
}
div.bottom
{
    width: 100%;
    div.bottom-part-one
    {
        width: 100%;
        height: auto;
        background-color: rgba(79, 57, 246, 1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 100px;
        h2
        {
            font-size: 36px;
            font-weight: 500;
            font-family:"Plus Jakarta Sans", sans-serif;
            line-height: 45px;
            padding-top: 80px;
            color: rgba(255, 255, 255, 1);
        }
        p
        {
            font-size: 18px;
            font-weight: 400;
            font-family:"Plus Jakarta Sans", sans-serif;
            padding-top: 16px;
            padding-bottom: 32px;
            color: rgba(255, 255, 255, 1);
        }
        button
        {
            background-color: rgba(255, 255, 255, 1);
            border-radius: 10px;
            border: 1px solid #FFFFFF;
            font-size: 16px;
            font-weight: 700;
            font-family:"Plus Jakarta Sans", sans-serif;
            padding:14px 53px 14px 28px;
            color: rgba(79, 57, 246, 1);
        }
    }
    div.bottom-part-two
    {
        background-color: rgba(15, 23, 43, 1);
        padding: 56px 152px 0 ;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        div.first
        {
            display: flex;
            flex-direction: column;
            gap: 20px;
            h3
            {
                display: flex;
                align-items: center;
                gap: 10px;
                div.text 
                {
                    font-family:"Plus Jakarta Sans", sans-serif;
                    font-weight: 700;
                    font-size: 18px;
                    color: rgba(255, 255, 255, 1);
                }
            }
            p
            {
                max-width: 250px;
                font-family:"Plus Jakarta Sans", sans-serif;
                font-weight: 400;
                font-size: 14px;
                color: rgba(144, 161, 185, 1);
            }
        }
        div.second
        {
            display: flex;
            flex-direction: column;
            gap: 20px;
            h3
            {
                font-family:"Plus Jakarta Sans", sans-serif;
                font-weight: 700;
                font-size: 12px;
                letter-spacing: 1.2px;
                color:rgba(255, 255, 255, 1);
            }
            a
            {
                text-decoration: none;
                display: block;
                font-family:"Plus Jakarta Sans", sans-serif;
                font-weight: 500;
                font-size: 14px;
                color: rgba(144, 161, 185, 1);
            }
        }
        div.third
        {
            display: flex;
            flex-direction: column;
            gap: 20px;
            h3
            {
                font-family:"Plus Jakarta Sans", sans-serif;
                font-weight: 700;
                font-size: 12px;
                letter-spacing: 1.2px;
                color:rgba(255, 255, 255, 1);
            }
            a
            {
                text-decoration: none;
                display: block;
                font-family:"Plus Jakarta Sans", sans-serif;
                font-weight: 500;
                font-size: 14px;
                color: rgba(144, 161, 185, 1);
            }
        }
        div.forth
        {
            display: flex;
            flex-direction: column;
            gap: 20px;
            h3
            {
                font-family:"Plus Jakarta Sans", sans-serif;
                font-weight: 700;
                font-size: 12px;
                letter-spacing: 1.2px;
                color:rgba(255, 255, 255, 1);
            }
            span
            {
                display: block;
                font-family:"Plus Jakarta Sans", sans-serif;
                font-weight: 400;
                font-size: 14px;
                color:rgba(144, 161, 185, 1);
            }
        }
    }
    div.bottom-part-three
    {
        background-color: rgba(15, 23, 43, 1);
        height:auto;
        display: flex;
        justify-content: space-between;
        padding: 30px 152px ;
        span 
        {
            font-family:"Plus Jakarta Sans", sans-serif;
            font-weight: 400;
            font-size: 12px;
            color: rgba(69, 85, 108, 1);
        }
        nav
        {
            display: flex;
            gap: 18px;
            a
            {
                text-decoration: none;
                color: rgba(69, 85, 108, 1);
                font-size: 12px;
                font-weight: 400;
                font-family:"Plus Jakarta Sans", sans-serif;
            }
        }
    }
}
@media (max-width : 768px)
{
    div.top
    {
        height:auto;
        padding: 20px 60px 20px 40px;
        div.top-part-one
        {
            div.links
            {
                display: none;
            }
            button
            {
                display: none;
            }
            div.media-top-one
            {
                display: block;
            }
        }
        div.top-part-two
        {
            display: flex;
            flex-direction: column;
            div.detail
            {
                div.button
                {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
        div.top-part-three
        {
            div.de-tails
            {
                display: flex;
                flex-direction: column;
                gap: 20px;
                div.first-line
                {
                    display: flex;
                    gap: 30px;
                    flex-direction: row;
                }
                div.second-line
                {
                    display: flex;
                    gap: 20px;
                    flex-direction: row;
                }
                div.five
                {
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
    div.center
    {
        height:auto;
        padding-right:30px;
        div.center-part-one
        {
            padding: 20px 30px;
            div.bar
            {
                display: flex;
                flex-direction: column;
                p
                {
                    padding-bottom:20px ;
                }
                button
                {
                    border-radius: 10px;
                }
            }
            div.jobs
            {
                display: flex;
                flex-direction: column;
                div.job-one
                {
                    width: auto;
                }
                div.job-two
                {
                    width: auto;
                }
                div.job-three
                {
                    width: auto;
                }
            }
        }
        div.center-part-two
        {
            div.bo-dy
            {
                padding: 20px 30px;
                display: flex;
                flex-direction: column;
                div.reasons
                {
                    width: auto;
                }
            }
        }
        div.center-part-three
        {
            padding: 20px 30px;
            div.tit-le
            {
                display: flex;
                flex-direction: column;
                h2
                {
                    padding-bottom: 20px;
                }
            }
            div.profiles
            {
                display: flex;
                flex-direction: column;
                div.profile
                {
                    div.bot-tom
                    {
                        padding-bottom:30px;
                    }
                }
            }
        }
    }
    div.bottom
    {
        padding-right:30px;
        div.bottom-part-two
        {
            padding: 40px 30px;
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
        div.bottom-part-three
        {
            padding: 20px 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}