*
{
    padding: 0;
    margin :0;
    box-sizing: border-box;
}
.parent
{
    display: flex;
    justify-content: center;
    width:100%;
    padding: 10px 160px ;
    background-color: black;
}
div.cart
{
    width: calc((100% - 320px) / 3);
    border:1px solid #26344F;
    background-color: rgb(18, 26, 45);
}
div.icon
{
    height: 120px;
    position: relative;
}
div.icon svg
{
    position: absolute;
    left: 50%;
    width: 70px;
    height: 70px;
    top: 50%;
    transform: translate(-50% , -50%);
}

div.cart-info
{
    padding-top: 15px;
    padding-right: 3px;
    border: 1px  solid #26344F;
    background-color: rgb(23, 33, 64);
}
div.cart-info h2
{
    padding-left:20px ;
    color: #E5E5E5;
    font: bold 25px Georgia, serif;
    line-height: 1.2;
}
div.cart-info p
{
    color: #A7ACB8;
    padding-left:20px ;
    font: 15px Arial, sans-serif;
    line-height: 1.4;
}
div.cart-info span.money
{
    color: #D7d9DC;
    padding-left: 10px;
    font: 17px Arial, sans-serif;
}
div.cart-info button
{
    color: #D3AE52;
    border: 1px solid #D3AE52;
    background-color: rgb(25, 33, 61);
    font:500 12px Arial, sans-serif;
    padding: 6px;
}
div.bottom
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #2a3e5f;
    padding:12px 0 0 ;
    margin:15px 20px 20px;
}
div.top
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 10px 0 10px;
}
div.-top
{
    display: flex;
    flex-direction: row-reverse;
    padding:10px 10px 0 0;
}
div span.A1
{
    color: #101827;
    background-color:rgb(226, 177, 62) ;
    border: 1px solid rgb(226, 177, 62);
    font:bold 11px Arial, sans-serif;
    letter-spacing: 1px;
    padding: 3.5px;
}
div span.A2
{
    color: #68758A;
    background-color:#172238 ;
    border: 1px solid #26344F;
    font:normal 11px Arial, sans-serif;
    letter-spacing: 0.5px;
    padding: 3.5px;
}
div.price-info
{
    color: #A7ACB8;
    font: 9px arial,sans-serif;
    display: flex;
    align-items: center;
    gap: 6px;
}