@font-face
{
    font-family:'Gilroy';
    src: url("../Fonts/Gilroy-FREE/Gilroy-Light.otf") format('opentype');
}
@font-face
{
    font-family:'Gilroy';
    src: url("../Fonts/Gilroy-FREE/Gilroy-ExtraBold.otf") format('opentype');
}
*
{
    box-sizing: border-box;
    margin :0;
    padding: 0;
}
section.page-four
{
    div.part-one
    {
        background:url("../images/Background.svg");
        padding:0 clamp(20px ,4vw ,118px);
        nav
        {
            div.con
            {
                div.i-con
                {
                    font-family: 'Gilroy';
                }
                button.browse
                {
                    background:none;
                }
                div.search
                {
                    flex: 1 1 auto;
                    max-width: 400px;
                    input
                    {
                        width: 100%;
                        padding-right: 40px;
                    }
                }
                form
                {
                    button.login
                    {
                        border-style: solid; 
                        background: none;
                    }
                    div.sign
                    {
                        button
                        {
                            background-color: rgba(61, 203, 177, 1);
                        }
                    }
                }
            }
        }
        div.fir-info
        {
            padding: 215px 30px 270px 60px;
            h3
            {
                font-family: 'Gilroy';
            }
            p
            {
                color: rgba(249, 249, 249, 0.7);
            }
        }
    }
    div.part-two
    {
        padding:0 clamp(20px ,4vw ,118px);
        div.all-recommendation
        {
            span
            {
                flex: 0 0 auto;
            }
            span.main
            {
                color: rgba(61, 203, 177, 1);
                border:1px solid rgba(61, 203, 177, 1);
            }
            span.details-main
            {
                color: rgba(27, 27, 27, 0.6);
                border:1px solid rgba(27, 27, 27, 0.1);
            }
        }
        p
        {
            color: rgba(27, 27, 27, 0.6);
        }
        div.first-cards
        {
            div.cards
            {
                flex: 0 0 auto;
                width: calc((100% - 72px)/4);
                div.information
                {
                    h3
                    {
                        font-size: 18px;
                    }
                    >span
                    {
                        color: rgba(61, 203, 177, 1);
                    }
                    p
                    {
                        color: rgba(27, 27, 27, 0.9);
                        font-size: 15px;
                    }
                    div.two-spans
                    {
                        span.fir-st
                        {
                            color: rgba(27, 27, 27, 0.9);
                        }
                        span.sec-ond
                        {
                            color: rgba(27, 27, 27, 0.6);
                        }
                    }
                }
            }
        }
    }
    div.part-three
    {
        padding:0 clamp(20px ,4vw ,118px);
        padding-bottom: 100px;
        div.discount
        {
            background-color: rgba(34, 115, 209);
            padding:51px 60px;
            gap: 55px;
            div.fir-discount-details
            {
                p
                {
                    color: rgba(255, 255, 255, 0.6);
                }
            }
            div.sec-discount-details
            {
                div.s-earch
                {
                    img
                    {
                        width: 18px;
                        height: 18px;
                        object-fit: contain;
                        pointer-events: none;
                    }
                    input
                    {
                        background-color: rgba(249, 249, 249, 0.3);
                        padding:10px 80px 10px 12px;
                        width: 100%;
                    }
                }
                button
                {
                    background-color: rgba(61, 203, 177, 1);
                    padding: 10px 18px;
                    white-space: nowrap;
                }
            }
        }
    }
    div.part-four
    {
        background-color: rgba(27, 27, 27, 1);
        padding: 40px 105px 25px 120px;
        div.top
        {
            flex-wrap: wrap;
            gap: 60px 168px;
            div.links
            {
                a
                {
                    color: rgba(255, 255, 255, 0.8);
                }
                a:hover
                {
                    color: #6EA8FE;
                    text-decoration: underline;
                }
            }
        }
        div.bottom
        {
            border-top: 1px solid rgba(249, 249, 249, 0.1);
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            span
            {
                color: rgba(249, 249, 249, 0.6);
            }
            div.ic-ons
            {
                a
                {
                    color: rgba(249, 249, 249, 0.6);
                }
                a.facebook:hover
                {
                    color: rgb(24,119,242);
                    text-decoration: underline;
                }
                a.instagram:hover
                {
                    color: rgb(225,48,108);
                    text-decoration: underline;
                }
                 a.twitter:hover
                {
                    color: rgb(152, 210, 246);
                    text-decoration: underline;
                }
            }
        }
    }
}
@media(max-width:992px)
{
    section.page-four
    {
        div.part-one
        {
            div.fir-info
            {
                padding: 60px 30px 150px 30px;
            }
        }
        div.part-two
        {
            div.all-recommendation
            {
                span
                {
                    flex: 0 0 calc((100% - 24px)/4);
                }
            }
            div.first-cards
            {
                div.cards
                {
                    flex: 0 0 calc((100% - 24px)/2);
                    width: calc((100% - 24px)/2);
                }
            }
        }
        div.part-three
        {
            div.discount
            {
                padding: 35px 30px;
                gap: 30px;
            }
        }
        div.part-four
        {
            padding: 35px 40px 20px 40px;
            div.top
            {
                gap: 40px;
            }
        }
    }
}
@media(max-width:768px)
{
    section.page-four
    {
        div.part-one
        {
            div.fir-info
            {
                padding: 40px 20px 100px 20px;
            }
        }
        div.part-two
        {
            div.all-recommendation
            {
                span
                {
                    flex: 0 0 calc((100% - 8px)/2);
                }
            }
            div.first-cards
            {
                div.cards
                {
                    flex: 0 0 100% ;
                    width: 100% ;
                }
            }
        }
        div.part-three
        {
            div.discount
            {
                padding: 25px 20px;
                gap: 30px;
                flex-direction: column;
                align-items: flex-start;
                div.sec-discount-details
                {
                    width: 100%;
                    flex-direction: column;
                    align-items: stretch !important;
                    div.s-earch
                    {
                        width: 100%;
                    }
                    button
                    {
                        width: 100%;
                    }
                }
            }
        }
        div.part-four
        {
            padding: 30px 20px 20px 20px;
            div.top
            {
                flex-direction: column;
                align-items: flex-start;
                gap: 30px;
                div.i-co-n
                {
                    margin-bottom: 10px;
                }
                div.bottom
                {
                    flex-direction: column;
                    align-items: flex-start;
                    text-align: right;
                    gap: 15px;
                }
            }
        }
    }
}